.showEffect > ul {
    transition: all 1s ease-out;
    animation: showing 1.5s;
}

@keyframes showing {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation effect */
.showEffect.animate > ul {
    animation: showing .5s;
}